.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*#####################################################################*/


.main-container {
  display: flex;
  flex-direction: column;
}

.navbar-brand > img {
  height: 32px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.nav-item > .nav-link {
  padding: .025rem;
}

.navbar-text {
  display: flex;
  justify-content: space-around;
}

.username {
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 1px solid gray;
  display: inline-block;
}

.username:after {
  content: "rx";
  /* position: absolute; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  left: -1px;
  top: 7px;
  /* background: gold; */
  border-radius: 50%;
  width: 1.5em;
  height: 1.25em;
  font-size: 14px;
}

.linechart {
  border-radius: 2px;
  box-shadow: 0 0 4px #282c34;
}

.tooltip-format {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tooltip-h3 {
  text-align: left;
  color: #61dafb;
}